{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_hot-summer-sale">
			<!-- START Hot Summer Sale REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(255,255,255,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;background-image:url(https://cdn.shopify.com/s/files/1/0549/0642/1297/t/10/assets/fm_di0726-bg.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;">
				<rs-module id="20" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-5" data-title="Slide 1" data-anim="ms:0ms;f:nodelay;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="f:contain;" data-no-retina>
<!--
							--><rs-layer
								id="slider-2-slide-5-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:233px,233px,233px,0;y:m,m,m,b;yo:1px,1px,1px,50px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:491px,491px,491px,289px;h:498px,498px,498px,293px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:1000;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0549/0642/1297/t/10/assets/fm_di0726-eames.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-6" data-title="Slide 2" data-anim="ms:0ms;f:nodelay;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="f:contain;" data-no-retina>
<!--
							--><rs-layer
								id="slider-2-slide-6-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:212px,212px,212px,0;y:m,m,m,b;yo:18px,18px,18px,52px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:531px,531px,531px,312px;h:452px,452px,452px,266px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:1000;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0549/0642/1297/t/10/assets/fm_dirs713-3.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-7" data-title="Slide 3" data-anim="ms:0ms;f:nodelay;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="f:contain;" data-no-retina>
<!--
							--><rs-layer
								id="slider-2-slide-7-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:179px,179px,179px,3px;y:m,m,m,b;yo:80px,80px,80px,63px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:617px,617px,617px,328px;h:306px,306px,306px,163px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:1000;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0549/0642/1297/t/10/assets/fm_di0726-noguchi.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-8" data-title="Slide 4" data-anim="ms:0ms;f:nodelay;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="f:contain;" data-no-retina>
<!--
							--><rs-layer
								id="slider-2-slide-8-layer-12" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:-1000px,-1000px,-1000px,0;y:m,m,m,b;yo:-112px,-112px,-112px,54px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:638px,638px,638px,287px;h:720px,720px,720px,308px;"
								data-vbility="f,f,f,t"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:1000;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0549/0642/1297/t/10/assets/fm_dirs713-4b.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-8-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:156px,156px,156px,-1000px;y:m,m,m,b;yo:-112px,-112px,-112px,52px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:638px,638px,638px,312px;h:720px,720px,720px,266px;"
								data-vbility="t,t,t,f"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="sp:1000;"
								data-frame_999="x:-50,-50,-50,-11;o:0;st:w;sp:1000;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0549/0642/1297/t/10/assets/fm_dirs713-4.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-back rs-stl-visible"><!--

							--><rs-layer
								id="slider-2-slide-2-layer-2" 
								class="rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-3000px,-3000px,-3000px,0;y:t,t,t,m;yo:50px,50px,50px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:300px,300px,300px,480px;h:375px,375px,375px,600px;"
								data-vbility="f,f,f,t"
								data-onslides="s:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0549/0642/1297/t/10/assets/fm_di0726-cp-bg.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-5" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:420px,420px,420px,0;y:t,t,t,m;yo:445px,445px,445px,-85px;"
								data-text="w:normal;s:20,20,20,4;l:25,25,25,6;"
								data-dim="w:466px,466px,466px,315px;h:82px,82px,82px,54px;"
								data-onslides="s:1;"
								data-blendmode="lighten"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/a7sd/crud" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-6" 
								class="rs-layer-static"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,-2000px;y:m;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1920px,1920px,1920px,480px;h:720px,720px,720px,600px;"
								data-vbility="t,t,t,f"
								data-onslides="s:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0549/0642/1297/t/10/assets/fm_di0726-bg2.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-8" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:420px,420px,420px,0;yo:378px,378px,378px,152px;"
								data-text="s:26,26,26,16;l:36,36,36,32;ls:3px,3px,3px,1px;fw:300,300,300,400;a:center;"
								data-onslides="s:1;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'BrandonText';text-transform:uppercase;"
							>Enjoy Savings up to 70% off 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-10" 
								class="rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:420px,420px,420px,0;yo:137px,137px,137px,22px;"
								data-text="s:106,106,106,58;l:106,106,106,64;ls:2px,2px,2px,3px;fw:900;a:center;"
								data-onslides="s:1;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'BrandonText';text-transform:uppercase;"
							>Hot<br />
Summer Sale 
							</rs-layer><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi2 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0563/0938/3354/files/brandontext.min.css?v=1645103675" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CBrandonText:300%2C400%2C900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi2;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi2 = window.revapi2===undefined || window.revapi2===null || window.revapi2.length===0  ? document.getElementById("20") : window.revapi2;
			if(window.revapi2 === null || window.revapi2 === undefined || window.revapi2.length==0) { window.revapi2initTry = window.revapi2initTry ===undefined ? 0 : window.revapi2initTry+1; if (window.revapi2initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi2 = revQuery(window.revapi2);
			if(window.revapi2.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi2.revolutionInit({
					revapi:"revapi2",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"5000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"62d2705393c4f",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar: {
						color:"rgba(255,255,255,0.15)",
						vertical:"top",
						size:5,
						x:0,
						y:0
						},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_hot-summer-sale" ).after( "<div id='revslider_show_hot-summer-sale'></div>" );
                            revQuery( "#revslider_drag_hot-summer-sale" ).hide();
                            revQuery("#revslider_foot_hot-summer-sale").appendTo("#revslider_show_hot-summer-sale");
                            revQuery("#revslider_show_hot-summer-sale .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>